#error-page {
    display:flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid #000;
    border-style: solid;
    border-color: #00f19f #00FD92;
    box-shadow:  5px 5px 100px #61dafbaa; /* Added box-shadow property */
    padding: 1.75em;
  }

.errorContainer {
    justify-content: center;
}